@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900 dark:text-gray-100 bg-gray-100 dark:bg-gray-900 font-sans;
  @apply leading-normal tracking-normal text-base font-normal break-words;
}

main {
  @apply p-0 mx-auto max-w-4xl;
}

button {
  @apply focus:outline-none;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format("woff2");
  unicode-range: U+0400-04FF, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC,
  U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
  U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}